<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Ex vue email with axios</title>

  <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
</head>

<body>
  <div id='app'>
    <h1>Email List</h1>
    <ul v-if="emailList.length == 10">
      <li v-for="email in emailList">
        {{email}}
      </li>
    </ul>
  </div>
  <!-- Development only cdn, disable in production -->
  <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
  <!-- Production only <script src='https: //cdn.jsdelivr.net/npm/vue@2.6.14'></script> -->
  <script src='./app.js'></script>
</body>

</html>