* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(176, 213, 214);


}

.container {
  width: 800px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add_task {
  margin-bottom: 4rem;
}

.add_task>input {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}

.add_task button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}